.Home {
    display: grid;
    background-color: rgba(100, 100, 225, 0.5);
    /* background-image: url("https://www.transparenttextures.com/patterns/type.png"), radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(157,151,152,1) 62%); */
    column-gap: 25px;
    row-gap: 25px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding: 2rem;
    max-width: auto;
    max-height: auto;
  }
  
  #Title {
    text-align: center;
    font-size: 40px;
  }

  #HomeImage {
    grid-column: 3/8;
    grid-row: 2/5;
  }
  
  #About {
    grid-column: 2/5;
    grid-row: 6/7;
    font-size: larger;
    color: #000000;
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(134,134,134,1) 90%);
  }
  
  #Resume {
    grid-column: 6/9;
    grid-row: 5/6;
    font-size: larger;
    color: #000000;
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(134,134,134,1) 90%);
  }
  
  #Projects {
    grid-column: 2/5;
    grid-row: 5/6;
    font-size: larger;
    color: #000000;
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(134,134,134,1) 90%);
  }
  
  #Contact {
    grid-column: 6/9;
    grid-row: 6/7;
    font-size: larger;
    color: #000000;
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(134,134,134,1) 90%);
  }