h1 {
    font-size: larger;
    font-family: fantasy;
    text-align: center;
    vertical-align: middle;
}

.card {
    display: grid;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-shadow: -5px 5px 5px 5px gainsboro ;
    background-color: silver;
   
}