h1 {
  font-size: 72;
  font-family: 'Bree Serif', serif;
  text-align: center;
  vertical-align: middle;
}

.card {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  transform: scale(1);
  transition: .2s;
  border-radius: 5px;
  border-style: double;
  border-width: 8px;
  border-color: #555555;
}

.card:hover {
  transform: scale(1.2);
  transition: .2s;
  box-shadow: -2px 5px 15px 2px black;
  
}