.App {
  display: grid;
  column-gap: 25px;
  row-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
}

.cardHolder {
  grid-column: 1/1;
  grid-row: 1/1;
}